extends blog-base

block blog-content
    .row
        .col-12
            a(href='/')
                h1.text-center // QED: Quite Easily Distracted
            br
            br
            each post in posts
                if post.draft !== true
                    h2
                        a(href='/post/#{post.id}/') #{post.title}
                    em #{post.published.toDateString()} #{post.published.toLocaleTimeString('en-US', {hour12: false})}
                    div.post-content(id='#{post.id}')
                        | !{post.content}
                    br
                    br
