extends blog-base

block blog-content
    .row
        .col-10.offset-1
            a(href='/')
                h1 // TODO: Implement Title
            br
            br
            each post in posts
                a(href='/post/#{post.id}/')
                    h2 #{post.title}
                em #{post.published.toDateString()} #{post.published.toLocaleTimeString('en-US', {hour12: false})}
                div.post-content(id='#{post.id}')
                    | !{post.content}
                br
                br
