extends blog-base

block subheaders


block blog-content
    .row
        .col-10.offset-1.text-center
            p.subdued This page uses the
                a(href='https://developer.napster.com/')  Napster API
                |  to show you the last 20 songs I've listened to, in real time.

    .row
        .col-10.offset-1
            each track in data
                .row
                    .col-2.offset-1
                            img(class='#{track.albumId}', src='https://static.rhap.com/img/300x300/6/9/0/7/8527096_300x300.jpg', width='100%')
                    .col-8
                        p Song: #{track.name}
                        p Album: #{track.albumName}
                        p Artist: #{track.artistName}
                        // audio(controls='' controlsList="nodownload")
                            source(src='#{track.previewURL}', type='audio/mpeg')
                br

    script.
        var albums = $('*[class^="alb."]');
        console.log(albums);
        for (let i = 0; i < albums.length; i++) {
            var albumId = albums[i].classList[0];
            $.get(
                // API key is from the Napster API demo site, have at it ;)
                'https://api.napster.com/v2.2/albums/' + albumId + '/images?apikey=YTkxZTRhNzAtODdlNy00ZjMzLTg0MWItOTc0NmZmNjU4Yzk4',
                function (data, status, jqxhr) {
                    albums[i].setAttribute("src", data.images[data.images.length - 2].url.toString().replace("http://", "https://"));
                    console.log(albums[i].attributes.src);
                }
            )
        }