extends blog-base

block blog-content
    .row
        .col-10.offset-1.text-center
            p I'm in the process of porting over my projects from
                a(href='https://github.com/nicklambourne')  Github
                | ?
            br
            p In the meantime you can also read more about this site
                a(href='/meta')  here
                | .
            //-
                each project in projects
                    if project.draft !== true
                        h2
                            a(href='/project/#{project.id}/') #{project.title}
                        em #{project.published.toDateString()} #{project.published.toLocaleTimeString('en-US', {hour12: false})}
                        div.post-content(id='#{project.id}')
                            | !{project.content}
                        br
                        br